<html>
<head>
  <meta charset='utf-8'>
  <title>Thank You!</title>
</head>
<body>
  <h1>Thanks <%= fname %></h1>
  <p>Thanks for coming to our conference.  We couldn't have done it without you!</p>

  <p>
    Political activism is at the heart of any democracy and your voice needs to be heard.
    Please consider reaching out to your following representatives:
  </p>

  <table>
	<% legislators.length.times do %>
	<tr><th>Legislators</th></tr> 
    <% end %>
    <tr><td>
		<% legislators.each do |legislator|%>
			<td><%= "#{legislator}"%></td>
			<% end %>
		</td></tr>
  </table>
</body>
</html>
